# OS Files
*.DS_Store

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# exclude all tire data
/MATLAB/tire_data/*

# keep the blank folder so directory structure is preserved
!MATLAB/tire_data/.gitkeep

# Do not upload model results which are very large
/MATLAB/nonlinear_double_track/data/*


